<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">

    <title>Weather Forecast</title>
</head>
<body>
    <nav><a href="/">City weather</a>
    <a href="forecast">London 7 Days</a></nav>
    

    <h1>8-day Forecast</h1>
    <ul>
        <li>
            <span>{{day1}}</span>
            <div class="list-value">
                <div class="data-value">
                    <img src={{src1}} alt="logo">
                    <span>{{temp1}}</span>
                </div>
                    <span>{{min1}}</span>
                <span class="dec">{{desc1}}</span>
            </div>
        </li>
        
    </ul>

</body>
</html>
